@import url("inc/reset.css");
@import url("inc/header.css");
@import url("inc/footer.css");
@import url("inc/entrys.css");
@import url("inc/page.css");
@import url("inc/auth.css");

html{
	background: #116C46;
}

body{
	background: #F9F4C4;
	width: 600px;
	margin: 5px auto;
	color: #116C46;
	font-family: Garamond;
	font-size: 18px;
	border: 10px solid #F9F4C4;
	position: relative;
}

a:link 
{
	color:#116C46;
}	

a:visited 
{
	color:#116C46;
}

ul{
	padding: 0px;
}

h3{
	font-size:23px;
}

.highlight{
	font-weight: bold;
	padding: 5px;
	background: #116C46;
	color: #F9F4C4;
	text-shadow: 1px 1px 2px #888;
	border-radius: 10px;
	box-shadow:2px 2px 10px #116C46;
}

.highlight a:link{
	font-weight: bold;
	color: #F9F4C4;
}

.highlight a:visited{
	font-weight: bold;
	color: #F9F4C4;
}








/*main page*/

