@import url("inc/reset.css");
@import url("inc/header.css");
@import url("inc/footer.css");
@import url("inc/entrys.css");
@import url("inc/page.css");
@import url("inc/auth.css");
@import url("inc/rand.css");

/*Site wide styling*/

html{
	background: #116C46;
	height: 100%;
}

body{
	background: #F9F4C4;
	width: 600px;
	margin: 0px auto;
	color: #116C46;
	font-family: Garamond;
	font-size: 18px;
	border: 10px solid #F9F4C4;
	position: relative;
	height: 100%;
}


#wrapper {
	min-height:100%;
	position:relative;
	margin: 0;
}

footer{
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
}

a{
	font-weight: bold;
}

a:link 
{
	color:#116C46;
}	

a:visited 
{
	color:#116C46;
}

ul{
	padding: 0px;
}

h3{
	font-size:23px;
}
