/*styling related to the regestration system*/

#login{
	width: 500px;
	height: 170px;
	padding: 1px 45px;
	text-align: center;
}

#login h5{
	margin: 55px 0;
}

#login #regLink{
	margin-top: 50px;
}

#loginForm{
	width:160px;
	float: left;
	text-align: left;
}

#loginForm h3{
	text-align: center;
}

#paypal{}

#register{}

#regLink{
	width: 200px;
	text-align: center;
	float: right;
}