.minlight{
	font-weight: bold;
	background: #116C46;
	padding: 0 2px;
	color: #F9F4C4;
	text-shadow: 1px 1px 2px #888;
	border-radius: 5px;
	box-shadow:2px 2px 10px #116C46;}

.highlight{
	font-weight: bold;
	padding: 5px;
	background: #116C46;
	color: #F9F4C4;
	text-shadow: 1px 1px 2px #888;
	border-radius: 10px;
	box-shadow:2px 2px 10px #116C46;
}

.highlight a:link, .minlight a:link{
	font-weight: bold;
	color: #F9F4C4;
}

.highlight a:visited, .minlight a:visited{
	font-weight: bold;
	color: #F9F4C4;
}



/* Folkrider main page*/

#newInside{
	width:575px;
	height: 275px;
	border: 5px solid #116C46;
	border-radius: 10px;
	margin: 0px auto;
}

#radioLink{
	height: 100px;
	width: 210px;
	margin: 20px auto;
}

#radioLink img{
	float: right;
}



/* Folkrider radio*/

#radio{
	width: 550px;
	margin: 0 auto;
}

#radio #player{
	width: 300px;
	height: 155px;
	margin: 0 auto;
}

#radio img{
	float: left;
	padding: 10px;
}

#radio #container{
	margin: 0 auto;
	width: 500px;
	padding: 50px;
}

#radio #container p{
	display: inline-block;
	width: 200px;
}

#radio #container div{
	display: inline-block;
	width: 200px;
}

#radio h3{
	clear: both;
}



/* styles for FAQ */